<header class="header__container">
    <nav class="header__nav">
        <ul class="nav__container">
            <li class="nav__item">
                <a class="nav__link" routerLink="/" routerLinkActive="nav__active" [routerLinkActiveOptions]="{exact:true}">SHOP</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" routerLink="cart" routerLinkActive="nav__active">CART</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" routerLink="admin" routerLinkActive="nav__active">admin</a>
            </li>
        </ul>
    </nav>
</header>