@import 'vars';
@import 'animations';
@import 'mquery';

.title {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
    }

    &-heading { padding: 2.5rem 2rem; }

    &-route {
        display: flex;
        padding: 2.5rem 2rem;
        padding-top: 3rem;

        a { font-size: 1.4rem; }

        a:hover { color: $font-color-hover; }
    }
}

.sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $border-main-section;
    border-left: none;
    border-right: none;
    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.items-container {
    padding: 3rem 1rem 2rem 1rem;

    .content {
        display: flex;
        flex-wrap: wrap;

        &:last-child {
            @include mquery(phone) {
                padding-bottom: 2rem;
            }
        }

        .item {
            padding: .5rem;
            flex: 0 1 20%;
            transition: all .3s;
            position: relative;

            @include mquery(large-desktop) {
                flex: 0 1 25%;
            }

            @include mquery(tab-land) {
                flex: 0 1 33.33%;
            }

            @include mquery(tab-port) {
                flex: 0 1 49.99%;
            }

            @include mquery(phone) {
                flex: 0 1 100%;
            }

            &:hover {
                transform: scale(1.025);
                z-index: 30;

                & ~ .admin-btn-container > .admin-btn { 
                    background-position-y: 0%;
                    border: $border-admin-button-hover;
                    color: $font-color-admin-button-hover;

                    @include mquery(phone) {
                        border: 2px solid white;
                        color: white;
                    }
                }
            }

            &-sale::after {
                content: "SALE!";
                position: absolute;
                top: 1rem;
                right: 0;
                height: 4rem;
                width: 10rem;
                padding: 1.2rem 2.8rem;
                color: $font-color-sale-label;
                background-image: $gradient-sale;
                box-shadow: $shadow-sale;
                z-index: 10;
                transform: rotate(15deg);
                animation: sale-wiggle 10s cubic-bezier(0.075, 0.82, 0.165, 1) 1s infinite;
            }
        }

        .admin {
            &-btn-container {
                position: fixed;
                bottom: 5%; 
                right: 5%;
                display: flex;
                justify-content: flex-end;
                z-index: 40;
            }
    
            &-btn {
                background-image: $admin-button-image;
                background-size: cover;
                background-position-y: 100%;
                border: $border-admin-button;
                color: $font-color-admin-button;
                width: 20rem;
                height: 6rem;
                letter-spacing: .1rem;
                font-size: $font-size-admin-button;
                font-weight: 500;
                text-align: center;
                line-height: 5.8rem;
                cursor: pointer;
                position: relative;
                z-index: 100;
                transition: $transition-button;
            
                &:active {
                    transform: scale(0.9);
                }

                @include mquery(phone) {
                    height: 6rem;
                    width: 6rem;
                    border-radius: 100%;
                    line-height: 3rem;
                }

                &::after {
                    @include mquery(phone) {
                        content: "+";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 100%;
                        font-size: 3rem;
                        font-family: "Times New Roman", Times, serif;
                        font-weight: bold;
                        line-height: 5.5rem;
                        background-image: linear-gradient(90deg, rgba(67,207,177,1) 21%, rgba(46,152,81,1) 100%);
                    }
                }
            }
        }
    }
}