@import 'vars';

.title {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
    }

    &-heading { padding: 2.5rem 2rem; }

    &-route {
        display: flex;
        padding: 2.5rem 2rem;
        padding-top: 3rem;

        a { font-size: 1.4rem; }

        a:hover { color: $font-color-hover; }
    }
}

.sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $border-main-section;
    border-left: none;
    border-right: none;
    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.items-container {
    padding: 3rem 1rem 2rem 1rem;

    .content {
        display: flex;
        flex-wrap: wrap;

        .item {
            padding: .5rem;
            flex: 0 1 25%;
            transition: all .3s;
            position: relative;

            &:hover {
                transform: scale(1.05);
                z-index: 30;
            }

            &-sale::after {
                content: "SALE!";
                position: absolute;
                top: 1rem;
                right: 0;
                height: 4rem;
                width: 10rem;
                padding: 1.2rem 2.8rem;
                color: $font-color-sale-label;
                background-image: $gradient-sale;
                box-shadow: $shadow-sale;
                z-index: 20;
                transform: rotate(15deg);
            }
        }

        .admin-btn-container {
            position: fixed;
            bottom: 5%; 
            right: 5%;
            display: flex;
            justify-content: flex-end;
            z-index: 40;
        }
    }
}