@import 'vars';

select {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .7rem;
    border: $border-select-option;
    outline: none;
    cursor: pointer;
    font-size: $font-size-select-option;
}

option {
    font-size: $font-size-select-option;
}