.sorting__select {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .7rem;
    border: 1px solid rgba(192, 189, 189,.5); 
    outline: none;
    cursor: pointer;
}