<div>
    <form [formGroup]="itemForm">

        <input formControlName="name"
            [ngClass]="{'text-input-warn' : itemForm.get('name').invalid && itemForm.get('name').dirty}"
            class="text-input" type="text" placeholder="Item name">

        <input formControlName="price"
            [ngClass]="{'text-input-warn' : itemForm.get('price').invalid && itemForm.get('price').dirty}"
            class="text-input" type="number" placeholder="Item price">

        <select formControlName="image">
            <option *ngFor="let image of images" [value]="image.value">{{ image.name }}</option>
        </select>

        <div class="discount-container">
            <label for="checkbox">Discount</label>
            <input class="checkbox" type="checkbox" [checked]="isCheckboxChecked"
                (change)="isCheckboxChecked = $event.target.checked">
            <input formControlName="discount"
                [ngClass]="{'text-input-warn' : itemForm.get('discount').invalid && itemForm.get('discount').dirty}"
                class="discount" type="number" placeholder="Discount in %">
        </div>

        <button class="btn" type="submit" [disabled]="!itemForm.valid" (click)="onFormSubmit()">SAVE</button>
        <button class="btn-delete" type="submit" [ngClass]="!isEditMode ? 'btn-delete-hidden' : ''"
            (click)="onDelete()">DELETE</button>
    </form>
</div>