<header class="container">
    <nav class="nav">
        <ul class="list">
            <li class="list-item">
                <a class="list-link" [routerLink]="['/shop/browse']">SHOP</a>
            </li>
            <li class="list-item">
               <a class="list-link" [routerLink]="['/shop/cart']">CART</a>
            </li>
            <li class="list-item">
                <a class="list-link">ABOUT</a>
             </li>
             <li class="list-item">
                <a class="list-link">CONTACTS</a>
             </li>
        </ul>
    </nav>
</header>