@import 'vars';

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20rem;
    background-image: $header-image;
    background-size: 100%;
    background-position-y: 0%;

    .nav {
        height: 6rem;
        background-color: $bg-color-nav;
        display: flex;
        align-items: center;

        .list {
            display: flex; 
            justify-content: flex-start;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            list-style-type: none;

            &-item {
                width: 100%;
                text-align: center;
                width: 15rem;
                color: $font-color-nav;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
    
            &-link {
                display: block;
                height: 100%;
                padding: .8rem 0 .3rem 0;
            }
    
            &-link-active {
                font-weight: bold;
            }
        }
    }
}