@import 'vars';

.container {
    border: $border-item;
    box-shadow: $shadow-item;
    height: 40rem;

    &:hover > .edit { display: block; }

    .edit {
        display: none;
        position: absolute;
        top: 2rem;
        left: 2rem;
        height: 3rem;
        width: 3rem;
        background-color: $bg-color-edit-btn;
        color: $font-color-edit-btn;
        font-size: $font-size-edit;
        text-align: center;
        line-height: 3rem;
        z-index: 150;
        cursor: pointer;
        transition: $transition-button;

        &:active { transform: scale(0.9); }
    }

    .figure {
        background-color: $bg-color-item;
        height: 65%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
            opacity: 0.8;
            width: 110%;
            mix-blend-mode: multiply;
        }
    }

    .details {
        height: 35%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .name {
            max-width: 12rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
        }

        .price-container { 
            display: flex; 
        
            .price {
                margin: 0 auto;
                padding: 0 0.5rem;
    
                &-onsale {
                    order: 0;
                    font-weight: normal;
                    text-decoration: line-through;
                    color: $font-color-sale-price;
                }
    
                &-hidden { display: none; }
            }
        }

        .btn {
            letter-spacing: .1rem;
            border: none;
            padding: 1rem 2.5rem;
            box-shadow: $shadow-add-to-cart;
            color: $font-color-add-to-cart;
            background-image: $gradient-add-to-cart;
            position:relative;
            transition: $transition-button;
            cursor: pointer;

            &:active { transform: scale(0.9); }

            &:hover {
                color: $font-color-hover;
                background-image: none;
                background-color: $bg-color-add-to-cart-hover;
            }

            &:hover::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border: $border-add-to-cart-hover;
            }
        }
    }
}