<div class="items__component">
    <figure class="items__figure">
        <img class="items__image" src={{singleItem.image}} alt={{singleItem.title}}>
    </figure>
    <div class="items__details">
        <h3 class="items__name" title={{singleItem.title}}>{{singleItem.title}}</h3>
        <div class="items__price-container">
            <h3 [ngClass]="setStandardClasses()">{{formatPrice(singleItem.price)}}</h3>
            <h3 [ngClass]="setDiscountClasses()">{{formatPrice((1 - singleItem.discount/100) * singleItem.price)}}</h3>
        </div>
        <button class="items__button">ADD TO CART</button>
    </div>
</div>