<div class="container">
    <a class="edit" [routerLink]="['/admin',singleItem.id]">edit</a>
    <figure class="figure">
        <img src="assets{{singleItem.image}}" alt="{{singleItem.name}}">
    </figure>
    <div class="details">
        <h3 class="name" title={{singleItem.name}}>{{singleItem.name}}</h3>
        <div class="price-container">
            <h3 class="price" [ngClass]="(singleItem.discount ? 'price-onsale' : '')">
                {{singleItem.price | number:'1.2-2'}}
            </h3>
            <h3 class="price" [ngClass]="(!singleItem.discount ? 'price-hidden' : '')">
                {{((1 - singleItem.discount/100) * singleItem.price) | number:'1.2-2'}}
            </h3>
        </div>
        <button class="btn">ADD TO CART</button>
    </div>
</div>