@keyframes sale-wiggle {
    0% {
        opacity: 1;
        transform: rotate(15deg);
    }

    1% {
        transform: rotate(19deg);
    }

    2% {
        transform: rotate(11deg);
    }

    3% {
        transform: rotate(19deg);
    }

    4% {
        transform: rotate(11deg);
    }

    5% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

@keyframes header-scroll {
    0% {
        background-position-y: 0%;
    }

    50% {
        background-position-y: 100%;
    }

    100% {
        background-position-y: 0%;
    }
}

@keyframes nav-button-shine {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}