$font-family: 'Overpass', sans-serif; 

$font-size-btn: 1.5rem;
$font-size-h2: 3.2rem;
$font-size-h3: 1.7rem;
$font-size-li: 1.5rem;
$font-size-label: 1.6rem;
$font-size-select-option: 1.2rem;
$font-size-p: 1.6rem;
$font-size-input: 1.2rem;

$font-weight-btn: 400;
$font-weight-h2: 400;
$font-weight-h3: bold;
$font-weight-li: 500;

$color-grey-1: rgb(112, 112, 112);
$color-white-1: #fcfcfc;
$color-black-1: #0E1111;
$color-green-1: rgb(67,207,177);
$color-green-2: rgb(67,207,177);
$color-green-3: rgb(46,152,81);

$header-image: url('/assets/header.jpeg');
$background-image: url('/assets/bg.jpeg');

$shadow-color-1: rgba(0,0,0,0.3);
$shadow-color-2: rgba(0,0,0,0.4);
$shadow-color-3: rgba(0,0,0,0.5);

$border: 1px solid rgb(192, 189, 189); 
$border-transparent: 1px solid rgba(192, 189, 189,0.5); 