<app-input class="input"></app-input>
<div class="container">
    <h3 class="title">Recent Posts</h3>
    <div class="break"></div>
    <div class="content">
        <p title="Honest Qualities">Honest Qualities</p>
        <p title="Breadcause you're worth it">Breadcause you're worth it</p>
        <p title="Your tray of goodies">Your tray of goodies</p>
        <p title="Are Carbs for you?">Are Carbs for you?</p>
        <p title="Healthy Bread Solutions">Healthy Bread Solutions</p>
    </div>
</div>
<div class="container">
    <h3 class="title">Recent Comments</h3>
    <div class="break"></div>
    <div class="content">
        <p title="Maria on Long Phrase Toss A Coin To Your Witcher">Maria on Long Phrase Toss A Coin To Your Witcher
        </p>
        <p title="Maria on Premium Quality">Maria on Premium Quality</p>
        <p title="Maria on Woo Logo">Maria on Woo Logo</p>
        <p title="Maria on Ninja Silhouette">Maria on Ninja Silhouette</p>
        <p title="Maria on Ship Your Idea">Maria on Ship Your Idea</p>
    </div>
</div>
<div class="container">
    <h3 class="title">Archives</h3>
    <div class="break"></div>
    <div class="content">
        <p title="November 16">November 16</p>
    </div>
</div>
<div class="container">
    <h3 class="title">Categories</h3>
    <div class="break"></div>
</div>