@import 'vars';
@import 'mquery';

.container, .input {
    background-color: $bg-color-aside-section;
    margin-bottom: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input {
    @include mquery(desktop) {
        width: 60%;
        margin: 0 auto 3rem auto;
    }

    @include mquery(phone) {
        width: 100%;
    }
}

.container {
    @include mquery(desktop) {
        width: 48%;
    }

    @include mquery(phone) {
        width: 100%;
    }
}

.title { padding-bottom: 1.5rem; }

.break {
    border:none;
    border-top: $border-aside-break;
    width:100%;
}

.content {
    padding-top: 1.5rem;
    display:flex;
    flex-direction: column;

    & > p {
        padding: .3rem 0;
        cursor: pointer;   
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 1rem;

        &:hover { color: $font-color-hover; }
    }
}