<div class="aside__container">

    <div class="aside__box-1">
        <app-input></app-input>
    </div>
    
    <div class="aside__box-2">
            <h3 class="aside__title">Recent Posts</h3>
            <div class="aside__break"></div>
            <div class="aside__texts-container">
                <p class="aside__text" title="Honest Qualities">Honest Qualities</p>
                <p class="aside__text" title="Breadcause you're worth it">Breadcause you're worth it</p>
                <p class="aside__text" title="Your tray of goodies">Your tray of goodies</p>
                <p class="aside__text" title="Are Carbs for you?">Are Carbs for you?</p>
                <p class="aside__text" title="Healthy Bread Solutions">Healthy Bread Solutions</p>
            </div>
    </div>
    <div class="aside__box-3">
            <h3 class="aside__title">Recent Comments</h3>
            <div class="aside__break"></div>
            <div class="aside__texts-container">
                <p class="aside__text" title="Maria on Long Phrase Toss A Coin To Your Witcher">Maria on Long Phrase Toss A Coin To Your Witcher</p>
                <p class="aside__text" title="Maria on Premium Quality">Maria on Premium Quality</p>
                <p class="aside__text" title="Maria on Woo Logo">Maria on Woo Logo</p>
                <p class="aside__text" title="Maria on Ninja Silhouette">Maria on Ninja Silhouette</p>
                <p class="aside__text" title="Maria on Ship Your Idea">Maria on Ship Your Idea</p>
            </div>
    </div>
    <div class="aside__box-4">
            <h3 class="aside__title">Archives</h3>
            <div class="aside__break"></div>
            <div class="aside__texts-container">
                <p class="aside__text" title="November 16">November 16</p>
            </div>
    </div>
    <div class="aside__box-5">
            <h3 class="aside__title">Categories</h3>
            <div class="aside__break"></div>
    </div>

</div>