.shop {
    &__container {
        background-image: url('/assets/bg.jpeg');
        background-size: cover; 
        min-height: calc(100vh - 20rem);
    }
    
    &__content {
        padding-top: 2.5rem;
        margin: 0 auto;
        
        width: 90%;
    
        // display: flex;
        // justify-content: space-between;
    }
}

@media only screen and (max-width: 1000px) {
    .shop__content {
      flex-direction: column;
    } 
} 

@media only screen and (max-width: 400px) {
    .shop__content {
      width: 100%;
      padding-top: 0;
    } 
} 