<div>
    <div class="title-container">
        <h2 class="title-heading">Cart</h2>
        <div class="title-route">
            <a href="#">HOME</a>
            <p>&nbsp;/&nbsp;</p>
            <a href="#">CART</a>
        </div>
    </div>
    <div class="sorting-container">
        <label for="sorting">Showing 0 of 0 result</label>
        <app-option></app-option>
    </div>
    <div class="items-container">
        <div class="content">
            <app-new-item-button class='admin-btn-container'></app-new-item-button>
        </div>
    </div>
</div>