@import 'vars';

.title {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
    }

    &-heading { padding: 2.5rem 2rem; }

    &-route {
        display: flex;
        padding: 2.5rem 2rem;
        padding-top: 3rem;

        a { font-size: 1.4rem; }

        a:hover { color: $font-color-hover; }
    }
}

.sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $border-main-section;
    border-left: none;
    border-right: none;
    padding: 1rem 0rem;
    margin: 0rem 2rem;
}

.items-container {
    padding: 3rem 1rem 2rem 1rem;

    .content {
        display: flex;
        flex-wrap: wrap;

        .admin-btn-container {
            position: fixed;
            bottom: 5%; 
            right: 5%;
            display: flex;
            justify-content: flex-end;
            z-index: 40;
        }
    }
}