<div>
    <div class="title__container">
        <h2 class="title__directory">Cart</h2>
        <div class="title__route">
            <a class="title__link" href="#">HOME</a>
            <p>&nbsp;/&nbsp;</p>
            <a class="title__link" href="#">CART</a>
        </div>
    </div>
    <div class="sorting__container">
        <label class="sorting__label" for="sorting">Showing 0 of 0 result</label>
        <app-option></app-option>
    </div>
    <div class="items__container">
        <div id="items_content" class="items__content">
            <app-new-item-button class='new-item'></app-new-item-button>
        </div>
    </div>
</div>